@import 'common/main';
@import 'common/card';
@import 'common/basket';
@import 'common/header';
@import 'common/reset';
@import 'common/burger';
@import 'common/button';
@import 'common/footer';
@import 'common/link';
@import 'common/nav';