.button__logo {
    display: flex;
    border: none;
    background: linear-gradient(115deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    padding: 7px 15px;
    gap: 15px;
    align-items: center;
    color: #FFF;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 600;
}
.button__logo {
    @media screen and (max-width:500px){
        flex-direction: column;
        font-size: 12px;
        padding: 7px 9px;
    }
}
.arrow {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-chevron-up {
    font-size: 25px;
}
.button__baner {
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Manrope";
    font-size: 25px;
    font-weight: 400;
    background: linear-gradient(115deg, #618967 5.11%, #72A479 94%);
    padding: 7px 25px;
    max-width:  270.306px;
}