.logo__link {
    color: #FFF;
    
    font-family: Gilroy;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 100% */
    letter-spacing: 3.75px;
    position: relative;
    right:55px;
}
.footer__link {
    color: #FFF;
    font-family: "Manrope";
    font-size: 19px;
    font-weight: 400;
    transition: 1s;
    @media screen and (max-width:950px){
        display: none;
    }
}
.politic__link {
    color: #CFCFCF;
    font-family: "Manrope";
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #CFCFCF;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media screen and (max-width:450px){
    .politic {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

.footer__link:hover {
    color: #b6b6b694;
    
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__links {
    display: flex;
    gap: 
    40px;
}