
.navbar{
    display: flex;
    overflow-x: auto;
    justify-content: space-evenly;
    padding: 15px;

}
.nav__link {
    color: #cfcfcfcd;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: normal;
transition: 1s;
}
.nav__link:hover {
    color: #FFF;
    font-family: "Manrope";
    font-size: 19px;
    font-weight: 500;
}
hr {
    height: 0.3px;
    background-color: #cccccc3e;
    border: none;
  }
  