.nav {
    background: rgba(255, 255, 255, 0.01);
}
.navbar{
    display: flex;
    overflow-x: auto;
    gap: 50px;
}
.nav__link {
    color: #CFCFCF;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
}
.nav__link:hover {
    color: #FFF;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 500;
}