.show {
    display: none;
    border-radius: 15px;
    background: #2E2B2C;
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.15);
    @media screen and (max-width:800px){
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}
.address__h6{
    color: #CFCFCF;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 400;
}
.address__h5 {
    color: #FFF;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
}
.show__h4 {
    color: #FFF;
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.show__button {
    background: none;
    padding: 22px 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    color: #FFF;
    font-family: Proxima Nova;
    font-size: 13px;
    font-weight: 700;
}
.show__button:hover {
    background: linear-gradient(115deg, #618967 5.11%, #72A479 94%);
}
.show__h3 {
    color: #FFF;
    font-family: Gilroy;
    font-size: 23px;
    font-weight: 700;
}
.social__h2 {
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
}
.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}